Algorythmics/obj/
Algorythmics/bin/
*.user
.vs/config/applicationhost.config
.vs/Algorythmics/v15/Server/sqlite3/storage.ide-wal
.vs/Algorythmics/v15/Server/sqlite3/storage.ide-shm
.vs/Algorythmics/v15/Server/sqlite3/storage.ide
.vs/Algorythmics/v15/Server/sqlite3/db.lock
.vs/Algorythmics/v15/.suo
.vs/Algorythmics/DesignTimeBuild/.dtbcache
to do sept. 12.txt
hgignore_global.txt
gitignore_global.txt
Useful links.txt
To know/algorithmDetails.png
To know/41667406_259330541385392_1755596632751079424_n.jpg
To know/41558891_1386071684863198_6428137664838369280_n.jpg
Algorythmics/Data/Migrations/20180912135449_BasicSteps.cs
Algorythmics/Data/Migrations/20180912135449_BasicSteps.Designer.cs
/Algorythmics/logs
.vs/Algorythmics/v16/Server/sqlite3/storage.ide-wal
.vs/Algorythmics/v16/Server/sqlite3/storage.ide-shm
.vs/Algorythmics/v16/Server/sqlite3/storage.ide
.vs/Algorythmics/v16/Server/sqlite3/db.lock
.vs/Algorythmics/v16/.suo
/.vs/AlgorythmicsGame/v15/Server/sqlite3/db.lock
