
@page

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            Player Name<input type="text" id="userInput" />
            <br />
            <input type="button" id="startButton" value="Start Game" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 id="player1Name"></h2>
            <h2>VS</h2>
            <h2 id="player2Name"></h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <input type="button" id="clickButton" value="Click!" />
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/clickerTestGame.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
