@model IEnumerable<AlgorythmicsGame.Context.OrganizedMatch>

<link rel="stylesheet" href="~/css/home.css" />
<div class="wrapper">
    <div class="section1 hover01">
        <div class="content">
            <h1 class="sectionTitle">
                Algorythmics Game
            </h1>
            <p>
                <a asp-action="Index" asp-controller="MatchCreate" class="btn ui-button coursesButton">Learn and play!</a>
            </p>
        </div>
        <div class="content">
            @foreach (var item in Model)
            {
                <div class="col-lg-12 list listElement">
                    <div class="col-lg-12 list row algorithmHeader">
                        <div class="col-1 list">
                            @Html.DisplayFor(modelItem => item.MatchId)
                        </div>
                        <p class="col-6 list">Players waiting:</p>
                        <div class="col-1 list">
                            @Html.DisplayFor(modelItem => item.PlayersWaiting)
                        </div>
                        <div class="col-4 list listElementActions">
                            <a asp-action="Index" asp-controller="Game" asp-route-id="@item.MatchId" class="btn ui-button coursesButton">Join!</a>
                        </div>
                    </div>
                </div>
            }
        </div>



        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>