
@page
<link rel="stylesheet" href="~/css/home.css" />
<div class="wrapper">
    <div class="section1 hover01">
        <div class="content">
            <h1 class="sectionTitle">
                Algorythmics Game
            </h1>
            <p>
                Learn and play!
            </p>
        </div>
        <img src="https://algorythmics.ms.sapientia.ro/images/home/interactivity.png">

        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>

        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>