@{
    ViewData["Title"] = "Forgot password confirmation";
}
<link rel="stylesheet" href="~/css/authentication.css" />
<div style="padding:50px">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>

