
@{
    ViewData["Title"] = "AdvancedOptions";
    ViewData.AddActivePage(ManageNavPages.AdvancedOptions);
}

<h2>"profile_advanced_title"]</h2>

<a asp-action="DeleteAccount">"profile_advanced_delete_profile"]</a>